@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0e14;
  --foreground: #c9d1d9;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-mono), ui-monospace, monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
